doctype html 
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
script(src='/javascripts/jquery-1.9.1.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/angular.min.js')
script(src='/javascripts/angular-route.min.js')
   
