include cssjs
include navbar
html(ng-app="Todo")
head
 meta(charset="utf-8")
 meta(name="viewport" content="width=device-width, initial-scale=1")
 title Todo 
 script(src="/javascripts/todo.js")
 style
    html { overflow-y:scroll; }
    body { padding-top:50px; }
    #todo-list { margin-bottom:30px; }
  
body(ng-controller="todoController")
 div.container
  div.jumbotron(class="text-center")
   h1 Task Manager
    span(class="label label-info"){{ todos.length }}
 div(id="todo-list" class="row")
  div(class="col-sm-4 col-sm-offset-4")
   div(class="checkbox" ng-repeat="todo in todos")
    label
     input(type="checkbox" ng-click="deleteTodo(todo._id)")
     {{ todo.description }}
 div(id="todo-form" class="row")
  div(class="col-sm-8 col-sm-offset-2 text-center")
   form
    div(class="form-group")
     input(type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.description")
     button(type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()") Add

