body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* 
div {
    margin: 20px;
}*/
 
ul.abcd {
    list-style-type: none;
      width: 700px;
}
 
h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li.abc img {
    float: left;
             margin: 0 15px 0 0;
}
 
li.abc a {
    font: 200 18px/1.5 Georgia, Times New Roman, serif;
}
li.abc p {
    font: 200 18px/1.5 Georgia, Times New Roman, serif;
}
 
li.abc {
    padding: 10px;
    overflow: auto;
}
 
li.abc:hover {
       background: #dff;
       cursor: pointer;
   }
img {
    height: auto;
    max-width: 50%;
}

