include cssjs
link(rel='stylesheet', href='/stylesheets/showcontacts.css')
include navbar


head
  script.
    var container = $("#container");
    imagesLoaded($("#container"), function() {
       //alert("images loaded")
        $("#container").masonry({
         columnWidth: 10,
          itemSelector: '.item'
            });
         });
body
 div#container
   each ac in c
     a(href="/contact/#{ac._id}") 
       div.item
         img.img-thumbnail(src="#{ac.path}",height=auto ,width="72",style="{float: left}")
         p 
         strong  #{ac.name} 

