meta(name="viewport",content="width=device-width ,intial-scale=1.0")
include cssjs
include navbar2
link(rel="stylesheet" href="/stylesheets/login.css")
script(src="/javascripts/login.js")
body
 div.container
  div.row
   div.col-md-4
    form(action="/loginuser",class="form-horizontal",method='post',role="form")
     h2 Login
     div.form-group
      label.control-label(for="email") Email
      div
       input.form-control(type='text',name='email', placeholder='Email address',id="email")
     div.form-group
      label.control-label(for="password") Password
      div 
       input.form-control(type='password',name='password', placeholder='Password',id="password")
     div
      button.btn.btn-lg(type='submit',class="btn-primary", value='Login') Login
